{% set t = i18n[lang] %}
<a class="wa-float" data-wa-source="float" href="{{ t.wa.general | wa }}" aria-label="{{ t.book }}" title="{{ t.book }}" target="_blank" rel="noopener">
  {% include "partials/wa-icon.njk" %}
</a>
